@import "_variables";
@mixin card ($h2size:24pt,$h4size:null,$psize:null) {
    display: grid;
    margin-bottom: 5vh;
    margin-top: 5vh ;
    width: 85%;
    text-align: center;
    padding-bottom: 10%;
    background:$card_background;
    justify-items: center;
    align-items: center;
    
    h2,h4{
        
        background: $card_text_color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h4{
        font-size: $h4size;
    }

    h2{
        font-size: $h2size;
    }
   
    p{
        font-size: $psize;
        font-family: 'Antic Slab', serif;
        width: 85%;
       
    }

    
}


@mixin image_to_fit($width:100%,$height:100%,$border_radius:null){
    width: $width;
    height: $height;
    object-fit: cover;
    border-radius: $border_radius;
}

@mixin  grid($width:100%,$height:100%,$min_height:12vh,$grid_template_columns:null,$grid_column_gap:0){
    display: grid;
    width: $width;
    height: $height;
    min-height: $min_height;
    grid-template-columns: $grid_template_columns;
    grid-column-gap:$grid_column_gap ;
    align-items: center;
    justify-items: center;
  
    
}

@mixin header ($fontSize:9pt) {
    @include grid($height:null,$grid_template_columns:3fr 1fr 1fr);
    font-size:$fontSize;
    text-transform: uppercase;
    background: $background_color;
    div{
    
        a{
            color: white;
            text-decoration: none;
           
        }
        
    }
    
    #logo{
      
        display: flex;
        align-items: center;
    
        img{
            padding-left: 4vw;
        }   
        div{      
             a{
            text-align: center;
            color: white;
         
             }
        }
        
    }
    
}



    


