@import "_mixin_functions";

.home{
    max-height: 80vh;
    img{
            @include image_to_fit($height:80vh);
            opacity: 0.8;    
    }
    div{
        position: relative;
        bottom: 50vh;
        text-align: center;
        margin-bottom: 5vh;
        color:white ;
        background-color: $beaver;
        opacity: 0.75;
        height: 8vh;
        padding-top: 1.5vh;
        font-size: 18pt;

    }
}

#offer-cards{

    @include grid(85%,100%,40vh,repeat(auto-fit,minmax(250px, 1fr)),5%);
    
    
}
.offer-card{

   border-radius: 15px 15px 15px 15px;
   @include card();
   grid-template-rows: 5fr 1fr 2fr;
    
    img{
        margin-top: 2vh;
        @include image_to_fit($height:40vh);
    }
}
#rating{
    width: 85%;
    border-radius: 15px 15px 15px 15px;
    min-height: 10vh;
    margin-top: 10vh;
    background-color:$metallic-sunburst;
    font-family: 'Antic Slab', serif;
    font-size: 18pt;
    text-transform: uppercase;
    color: white;
    p{
        padding: 1vh 2vw;
        text-align: center;
    }
}

#location{
    width: 85%;
    color: $rich-black-fogra-29;
    margin-top: 10vh;
    text-align: center;
}
#googleMap{
    margin-top: 3vh;
}

@media only screen and (min-width: 600px){

    .home{
        max-height: 60vh;
        img{
                @include image_to_fit($height:60vh);   
        }
        div{
            bottom: 35vh;
            font-size: 24pt;
    
        }
    }
    
    #offer-cards{
    
        @include grid(85%,100%,40vh,repeat(auto-fit,minmax(350px, 1fr)),5%);
       
        
    }
    .offer-card{

        @include card(30pt,20pt,18pt);
    }
    #rating{
        margin-top: 7vh;
    }
    
    #location{
       font-size: 20pt;
    }
  
}

@media only screen and (min-width: 1000px){
    .home{
        max-height: 85vh;
        img{
                @include image_to_fit($height:85vh);   
        }
        div{
            bottom: 50vh;
            font-size: 30pt;
    
        }
    }
    
    #offer-cards{
        
        
        @include grid(85%,100%,40vh,repeat(auto-fit,minmax(250px, 1fr)),5%);
        
    }
    .offer-card{
       
        @include card(32pt,24pt,20pt);
        margin-top: 0;
         
    }
    #rating{
   
        font-size: 2.0rem;
    }

}