@import "_mimix_functions";

.home{
    max-height: 80vh;
    img{
            @include image_to_fit($height:80vh);
            opacity: 0.8;    
    }
    div{
        position: relative;
        bottom: 50vh;
        text-align: center;
        margin-bottom: 5vh;
        color:white ;
        background-color: $beaver;
        opacity: 0.75;
        height: 8vh;
        padding-top: 1.5vh;
        font-size: 18pt;

    }
}

#offer-cards{

    @include grid(85%,100%,40vh,repeat(auto-fit,minmax(250px, 1fr)),5%);
    margin-left: 2.5%;
    
}
.offer-card{
   margin-left: 5vw;
   border-radius: 15px 15px 15px 15px;
   @include card();
    
    img{
        margin-top: 2vh;
        @include image_to_fit($height:40vh);
    }
}
#rating{
    @include width_center(85%);
    border-radius: 15px 15px 15px 15px;
    min-height: 10vh;
    margin-top: 10vh;
    background-color:$metallic-sunburst;
    font-family: 'Antic Slab', serif;
    font-size: 18pt;
    text-transform: uppercase;
    color: white;
    p{
        padding: 1vh 2vw;
        text-align: center;
    }
}

#location{
    @include width_center(85%);
    color: $rich-black-fogra-29;
    margin-top: 10vh;
    text-align: center;
}
#googleMap{
    margin-top: 3vh;
}