@import "_mixin_functions";
#main-menu{
    img{
       @include image_to_fit();
    }
}
#menu{
    @include grid($width:85%,$grid_template_columns:repeat(auto-fit, minmax(250px, 1fr)),$grid_column_gap:3vw);
    margin-left: 7.5%;
}

.menu-card{
    position: relative;
    @include card();

    img{
        @include image_to_fit(100%,20vh,15px 15px 0 0);
        opacity: 0.85;
        float: left;
    }
 
    p{  
        font-size: 0.9em;   
    }
 
}

.price{
        
    font-family: fantasy;
    position: absolute;
    transform: rotate(-30deg);
    right: 40%;
    bottom: 65%;
    font-size: 14pt;
    margin: inherit;
    color: $chestnut;
    
}

.sizes{
    @include grid($width:90%,$grid_template_columns:repeat(3,1fr));
    text-align: center;
    margin-top: 3vh;
    font-family: 'Antic Slab', serif;
}

@media only screen and (min-width: 600px){
    #main-menu{
        max-height: 35vh;
        img{
           @include image_to_fit($height:35vh);
        }
    }    
    .menu-card{
        @include tablet_card();
    
    }
    .sizes{
        margin-top: 1.5vh;
       
    }
}

@media only screen and (min-width: 600px){
   
    .menu-card{
        div{
            font-size: 16pt;
        }
    
    }
   
}