@import "_mixin_functions";
#main-menu{
    img{
       @include image_to_fit();
    }
}
#main-menu + h2{
    margin-top: 10vh;
    font-size: 26pt;
    color:$chestnut;
}
#menu{
    @include grid($width:85%,$grid_template_columns:repeat(auto-fit, minmax(250px, 1fr)),$grid_column_gap:3vw);
   
}

.menu-card{
    
    @include card();
    grid-template-rows: 5fr 1fr 2fr;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;

    img{
        @include image_to_fit(120%,100%,15px 15px 0 0);
        opacity: 0.85;
        float: left;
    }
 
    p{  
        font-size: 0.9em;   
    }

    &:hover{
        img{
           
            animation: zoom-out 2s ease-out;
            
        }
    }
 
}



.sizes{
    @include grid($width:90%,$grid_template_columns:repeat(3,1fr));
    text-align: center;
    margin-top: 3vh;
    font-family: 'Antic Slab', serif;
}

@media only screen and (min-width: 600px){
    #main-menu{
        max-height: 35vh;
        img{
           @include image_to_fit($height:35vh);
        }
    }    
    .menu-card{
       
        @include card(30pt,20pt,14pt);
        &:hover{
            box-shadow: 5px 5px 2px grey;
            transition: all 0.5s ease-in-out;

        }
  
    
    }
    .sizes{
        margin-top: 1.5vh;
       
    }
}

@media only screen and (min-width: 1000px){
   
    .menu-card{
        div{
            font-size: 16pt;
        }
    
    }
   
}

@keyframes zoom-out {
    50%{
        width: 100%;
    }
    100%{
        width: 120%;
    }

   
}