@import "_mimix_functions";

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100%;
    font-family: 'Permanent Marker', cursive;
}
.container{
    @include grid($min_height:100%);
    div{
        width: 100%;         
    }
}

.header{
    @include grid($grid_template_columns:3fr 1fr 1fr);
    font-size: 8.5pt;
    text-transform: uppercase;
    background: $background_color;
    div{
    
        a{
            color: white;
            text-decoration: none;
           
        }
        
    }
    
    #logo{
      
        display: flex;
        align-items: center;
    
        img{
            padding-left: 4vw;
        }   
        div{      
             a{
            text-align: center;
            color: white;
         
             }
        }
        
    }


}
#head{
    position: relative;
    right: 6vw;
}

.info-card{

    @include card(); 
    background-color: white;
}

#footer{
    @include grid($min_height:10vh);
    margin-top: 25vh;
    padding-top: 3vh;
    text-align: center;
    font-family: 'Antic Slab', serif;
    color: white;
    background-color: $rich-black-fogra-29;

    div{
        @include width_center(85%);
        text-align: center;
        margin-bottom: 5vh;
        a{
            color: white;
            text-decoration: none;
        }
    }
    hr{
        @include width_center(90%);
        height: 0.5px;
        
    }

}

@media only screen and (min-width: 600px){
    .header{

        font-size: 16pt;
    }
    .info-card{

        @include tablet_card(); 
        background-color: white;
    }
    #logo{
        img{
            width: 14vw;
            padding-left: 4vw;
        }   
        
    }
    #head{
        right: 10vw;
    }

    #footer{
        max-height: 35vh;
        margin-top: 15vh;
        font-size: 1.5em;
    
    }
    
    
}









