@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: 'Permanent Marker', cursive;
}

.tablet_desktop {
  display: none;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 100%;
  grid-column-gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container div {
  width: 100%;
}

.header {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 12vh;
  -ms-grid-columns: 3fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr;
  grid-column-gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 8.5pt;
  text-transform: uppercase;
  background: radial-gradient(circle, #98473e 0%, #07090f 81%);
}

.header div a {
  color: white;
  text-decoration: none;
}

.header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header #logo img {
  padding-left: 4vw;
}

.header #logo div a {
  text-align: center;
  color: white;
}

#head {
  position: relative;
  right: 6vw;
}

.info-card {
  margin-bottom: 10vh;
  margin-top: 10vh;
  width: 85%;
  text-align: center;
  padding-bottom: 10%;
  background: #ebebeb;
  background-color: white;
}

.info-card h2, .info-card h4 {
  background: -webkit-radial-gradient(circle, #a41212 24%, #07090f 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-card h2 {
  font-size: 24pt;
}

.info-card p {
  font-family: 'Antic Slab', serif;
  width: 90%;
  margin-left: 5%;
}

#footer {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 10vh;
  grid-column-gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25vh;
  padding-top: 3vh;
  text-align: center;
  font-family: 'Antic Slab', serif;
  color: white;
  background-color: #07090fff;
}

#footer div {
  width: 85%;
  margin-left: 7.5%;
  text-align: center;
  margin-bottom: 5vh;
}

#footer div a {
  color: white;
  text-decoration: none;
}

#footer hr {
  width: 90%;
  margin-left: 5%;
  height: 0.5px;
}

@media only screen and (min-width: 600px) {
  .tablet_desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
  .header {
    font-size: 16pt;
  }
  #logo img {
    width: 120px;
    padding-left: 4vw;
  }
  #head {
    right: 6vw;
  }
  .info-card {
    margin-bottom: 10vh;
    margin-top: 10vh;
    width: 85%;
    text-align: center;
    padding-bottom: 10%;
    background: #ebebeb;
    background-color: white;
  }
  .info-card h2, .info-card h4 {
    background: -webkit-radial-gradient(circle, #a41212 24%, #07090f 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .info-card h2 {
    font-size: 24pt;
  }
  .info-card p {
    font-family: 'Antic Slab', serif;
    width: 90%;
    margin-left: 5%;
  }
  .info-card h4 {
    font-size: 20pt;
  }
  .info-card h2 {
    font-size: 30pt;
  }
  .info-card p {
    font-size: 14pt;
  }
  #footer {
    max-height: 40vh;
    margin-top: 15vh;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    font-size: 20pt;
  }
  #logo img {
    width: 120px;
    padding-top: 1vh;
  }
  #head {
    right: 14vw;
  }
  .info-card {
    margin-bottom: 10vh;
    margin-top: 10vh;
    width: 85%;
    text-align: center;
    padding-bottom: 10%;
    background: #ebebeb;
    background-color: white;
    margin-bottom: 0;
  }
  .info-card h2, .info-card h4 {
    background: -webkit-radial-gradient(circle, #a41212 24%, #07090f 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .info-card h2 {
    font-size: 24pt;
  }
  .info-card p {
    font-family: 'Antic Slab', serif;
    width: 90%;
    margin-left: 5%;
  }
  .info-card h4 {
    font-size: 24pt;
  }
  .info-card h2 {
    font-size: 32pt;
  }
  .info-card p {
    font-size: 20pt;
  }
  #footer {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    min-height: 12vh;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .copy-right {
    grid-column: span 2;
  }
}
/*# sourceMappingURL=style.css.map */