@import "_mixin_functions";

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100%;
    font-family: 'Permanent Marker', cursive;
}

.tablet_desktop{
    display: none;
}
.container{
    @include grid($min_height:100%);
    div{
        width: 100%;         
    }
}

.mobile_header{
    @include header();
}
.header{
    display: none;
}
#mobile-hamburger-menu {

    #mobile-menu-checkbox {
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
        z-index: 5;
    }
    
    #mobile-menu-checkbox:checked ~ #mobile-header-menu {
        top: 0;
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }

    #mobile-hamburger-container {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 50px;
        height: 50px;
        z-index: 4;
        position: relative;
        border: 1px solid white;
        border-radius: 10px 10px 10px 10px;

        .mobile-hamburger-line {
            width: 30px;
            height: 4px;
            background-color: white;
        }
    }

    #mobile-header-menu {
        transition: all 0.5s ease-in-out;
        position: absolute;
        width: 100%;
        background-color: $rich-black-fogra-29;
        display: grid;
        justify-items: center;
        align-items: center;
        top: -15vh;
        opacity: 0;
        left: 0;
        min-height: 15vh;

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

#head{
    position: relative;
    right: 6vw;
}

.info-card{

    @include card(); 
    background-color: white;
}

#footer{
    @include grid($min_height:10vh);
    margin-top: 25vh;
    padding-top: 3vh;
    text-align: center;
    font-family: 'Antic Slab', serif;
    color: white;
    background-color: $rich-black-fogra-29;

    div{
        @include width_center(85%);
        text-align: center;
        margin-bottom: 5vh;
        a{
            color: white;
            text-decoration: none;
        }
    }
    hr{
        width: 90%;
        height: 0.5px;
        
    }

}

@media only screen and (min-width: 600px){
    .tablet_desktop{
        display: inline;
    }
    .mobile,.mobile_header{
        display: none;
    }
    .header{
       @include header(14pt);
    
    }
   
    #logo{
        img{
            width: 120px;
            padding-left: 4vw;
        }   
        
    }
    #head{
        right: 6vw;
    }
    .info-card{

        @include card(30pt,20pt,14pt); 
        background-color: white;
    }
    #footer{
   
        margin-top: 15vh;
        font-size: 1.5em;
    
    }
    
    
}

@media only screen and (min-width: 1000px){
    .container{
  
    .header{
            @include grid($width:70%,$height:null,$grid_template_columns:3fr 1fr 1fr);
            background: white;
            z-index: 1;
            @include width_center(70%);
            opacity: 0.9;
            font-size: 20pt;
            border-radius: 15px 15px 15px 15px;
            position: absolute;
            top: 0;
            text-transform: uppercase;
            div{
            
                a{
                    background: $card_text_color;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-decoration: none;
                   
                }
                
            }  
    }
}

    #logo{
        img{
            width: 120px;
            padding-top: 1vh;
        }   
        
    }
    #head{
        right: 6vw;
    }
    .info-card{

        @include card (32pt,24pt,20pt);
        background-color: white;
        margin-bottom: 0;

    }
    #footer{
        @include grid($grid_template_columns:repeat(2,1fr));
        .copy-right{
            grid-column: span 2;
        }
    
    }
    
    
}







