@import "_variables";
$queen-pink: #d6c3c9ff;
$beaver: #b49082ff;
$chestnut: #98473eff;
$metallic-sunburst: #a37c40ff;
$rich-black-fogra-29: #07090fff;
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100%;
    font-family: 'Permanent Marker', cursive;
}
.container{
    overflow: hidden;
    display: grid;
    min-height: 100%;
    width: 100%;
    margin: 0;
    div{
        width: 100%;
       
        
    }
}

.header{
    display: grid;
    align-items: center;
    height: 12vh;
    // width: 100%;
    font-size: 9pt;
    grid-template-columns: 3fr 1fr 1fr;
    text-transform: uppercase;
    background: $background_color;
    div{
    
        a{
            color: white;
            text-decoration: none;
           
        }
        
    }
    
    #logo{
      
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        img{
         
            padding-left: 4vw;

        }
       
    
        div{
        
        a{
            text-align: center;
            color: white;
         
        }
    }
        
    }


}
#head{
    position: relative;
    right: 6vw;
}

#footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-column-gap: 10%;
    margin-top: 10vh;
    min-height: 50vh;
    padding-top: 3vh;
    font-family: 'Antic Slab', serif;
    text-align: center;
    color: white;
    background-color: $rich-black-fogra-29;

    div{
        
        width: 85%;
        text-align: center;
        margin-left: 7.5%;
        margin-bottom: 5vh;
        a{
            color: white;
            text-decoration: none;
        }
    }
    hr{
        margin-left: 5%;
        height: 0.5px;
        width: 90%;
    }

}










